body {
  background-color:#c0392b;
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.6em;
  
  margin: 0;
}

.container {
  background-color: #ecf0f1;
  width:80%;
  margin: 0px auto;
  padding:10px;
}

